<!-- Trending Movies & TV Shows Weekly Section -->
<div class="card-section trending-weekly-section">
    <div class="card-section-title trending-weekly-title">
        <p>
            <span class="title-sign text-info">| </span>
            <span class="row-title">Trending This Week</span>
            <span class="explore-all"><a href="{{ url_for('showAllTrendingWeekly')}}" onclick="loading();" style="color:white">Explore All ></a></span>
        </p>
    </div>
    <div class="trending-weekly-card-section">
        <div class="trending-weekly-row">
            {% for item in range(0,8) %}
            <!-- Card -->
            <div class="shadow single-card" data-toggle="modal" data-target="#trending-weekly-modal{{item}}">
                <img src="{{ homeQuery.allTrendingWeeklyPosters[item] }}" alt="">
            </div>

            <!-- Modal -->
            <div class="modal fade" id="trending-weekly-modal{{item}}" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modalLabel">{{ homeQuery.allTrendingWeeklyTitles[item] }} Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1 class="modal-card-title">{{ homeQuery.allTrendingWeeklyTitles[item] }} <span class="release-date">({{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "release") }})</span></h1>
                            <div class="shadow single-card modal-card">
                                <img src="{{ homeQuery.allTrendingWeeklyPosters[item] }}" alt="">
                            </div>
                            <p class="modal-description">{{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "overview") }}</p>
                            <div class="modal-genres">
                                <p>
                                    {% for i in queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "genres")[0] %}
                                        {{ i }}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="modal-rating">
                                <h5> <span class="badge badge-success">{{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "rating") }}</span> / 10</h5>
                            </div>
                            <div class="modal-trailer">
                                {% if queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "trailer") != "Trailer not available" %}
                                    <h5 class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/{{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], 'trailer') }}" data-target="#trailer-video-modal"><a href="#"> Watch Trailer</a></h5>
                                {% else %}
                                    <h5>Trailer not available.</h5>
                                {% endif %}
                            </div>
                            <div class="modal-watch-providers">
                                {% if queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "providers")[0] != "N/A" and queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "providers")[1] != "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], 'providers')[0] }}" target="_blank"><img class="provider-logo" src="/static/images/netflix_logo.jpg" alt=""></a>
                                <a href="{{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], 'providers')[1] }}" target="_blank"><img class="provider-logo" src="/static/images/disney_plus_logo.jpg" alt=""></a>
                                {% elif queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "providers")[0] != "N/A" and queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "providers")[1] == "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], 'providers')[0] }}" target="_blank"><img class="provider-logo" src="/static/images/netflix_logo.jpg" alt=""></a>
                                {% elif queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "providers")[0] == "N/A" and queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], "providers")[1] != "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.allTrendingWeeklyTitles[item], 'providers')[1] }}" target="_blank"><img class="provider-logo" src="/static/images/disney_plus_logo.jpg" alt=""></a>
                                {% else %}
                                <h5>No streaming services available in your region</h5>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- Popular Movies Section -->
<div class="card-section popular-movies-section">
    <div class="card-section-title popular-movies-title">
        <h1>Popular Movies</h1>
    </div>
    <div class="popular-movies-card-section">
        <div class="popular-movies-row">
            {% for item in range(0,6) %}
            <!-- Card -->
            <div class="shadow single-card" data-toggle="modal" data-target="#popular-movies-modal{{item}}">
                <img src="{{ homeQuery.popularMoviePostersTemp[item] }}" alt="">
            </div>

            <!-- Modal -->
            <div class="modal fade" id="popular-movies-modal{{item}}" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modalLabel">{{ homeQuery.popularMovieTitlesTemp[item] }} Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1 class="modal-card-title">{{ homeQuery.popularMovieTitlesTemp[item] }} <span class="release-date">({{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "release") }})</span></h1>
                            <div class="shadow single-card modal-card">
                                <img src="{{ homeQuery.popularMoviePostersTemp[item] }}" alt="">
                            </div>
                            <p class="modal-description">{{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "overview") }}</p>
                            <div class="modal-genres">
                                <p>
                                    {% for i in queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "genres")[0] %}
                                        {{ i }}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="modal-rating">
                                <h5> <span class="badge badge-success">{{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "rating") }}</span> / 10</h5>
                            </div>
                            <div class="modal-trailer">
                                {% if queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "trailer") != "Trailer not available" %}
                                    <h5 class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/{{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], 'trailer') }}" data-target="#trailer-video-modal"><a href="#"> Watch Trailer</a></h5>
                                {% else %}
                                    <h5>Trailer not available.</h5>
                                {% endif %}
                            </div>
                            <div class="modal-watch-providers">
                                {% if queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "providers")[0] != "N/A" and queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "providers")[1] != "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], 'providers')[0] }}" target="_blank"><img class="provider-logo" src="/static/images/netflix_logo.jpg" alt=""></a>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], 'providers')[1] }}" target="_blank"><img class="provider-logo" src="/static/images/disney_plus_logo.jpg" alt=""></a>
                                {% elif queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "providers")[0] != "N/A" and queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "providers")[1] == "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], 'providers')[0] }}" target="_blank"><img class="provider-logo" src="/static/images/netflix_logo.jpg" alt=""></a>
                                {% elif queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "providers")[0] == "N/A" and queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], "providers")[1] != "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularMovieTitlesTemp[item], 'providers')[1] }}" target="_blank"><img class="provider-logo" src="/static/images/disney_plus_logo.jpg" alt=""></a>
                                {% else %}
                                <h5>No streaming services available in your region</h5>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Button -->
            <div class="see-all-button" href="#">
                <a href="{{ url_for('showAllPopularMovies')}}"><button type="button" class="btn btn-link"
                        onclick="loading();">SEE ALL</button></a>
            </div>
        </div>
    </div>
</div>

<!-- Popular TV Shows Section -->
<div class="card-section popular-tv-section">
    <div class="card-section-title popular-tv-title">
        <h1>Popular TV Shows</h1>
    </div>
    <div class="popular-tv-card-section">
        <div class="popular-tv-row">
            {% for item in range(0,6) %}
            <!-- Card -->
            <div class="shadow single-card" data-toggle="modal" data-target="#popular-tv-modal{{item}}">
                <img src="{{ homeQuery.popularTVPostersTemp[item] }}" alt="">
            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="popular-tv-modal{{item}}" tabindex="-1" aria-labelledby="modalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title modalLabel">{{ homeQuery.popularTVTitlesTemp[item] }} Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1 class="modal-card-title">{{ homeQuery.popularTVTitlesTemp[item] }} <span class="release-date">({{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "release") }})</span></h1>
                            <div class="shadow single-card modal-card">
                                <img src="{{ homeQuery.popularTVPostersTemp[item] }}" alt="">
                            </div>
                            <p class="modal-description">{{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "overview") }}</p>
                            <div class="modal-genres">
                                <p>
                                    {% for i in queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "genres")[0] %}
                                        {{ i }}
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="modal-rating">
                                <h5> <span class="badge badge-success">{{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "rating") }}</span> / 10</h5>
                            </div>
                            <div class="modal-trailer">
                                {% if queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "trailer") != "Trailer not available" %}
                                    <h5 class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/embed/{{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], 'trailer') }}" data-target="#trailer-video-modal"><a href="#"> Watch Trailer</a></h5>
                                {% else %}
                                    <h5>Trailer not available.</h5>
                                {% endif %}
                            </div>
                            <div class="modal-watch-providers">
                                {% if queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "providers")[0] != "N/A" and queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "providers")[1] != "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], 'providers')[0] }}" target="_blank"><img class="provider-logo" src="/static/images/netflix_logo.jpg" alt=""></a>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], 'providers')[1] }}" target="_blank"><img class="provider-logo" src="/static/images/disney_plus_logo.jpg" alt=""></a>
                                {% elif queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "providers")[0] != "N/A" and queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "providers")[1] == "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], 'providers')[0] }}" target="_blank"><img class="provider-logo" src="/static/images/netflix_logo.jpg" alt=""></a>
                                {% elif queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "providers")[0] == "N/A" and queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], "providers")[1] != "N/A" %}
                                <h5>Stream it on</h5>
                                <a href="{{ queryTools.singleSearch(homeQuery.popularTVTitlesTemp[item], 'providers')[1] }}" target="_blank"><img class="provider-logo" src="/static/images/disney_plus_logo.jpg" alt=""></a>
                                {% else %}
                                <h5>No streaming services available in your region</h5>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Button -->
            <div class="see-all-button" href="#">
                <a href="{{ url_for('showAllPopularMovies')}}"><button type="button" class="btn btn-link"
                        onclick="loading();">SEE ALL</button></a>
            </div>
        </div>
    </div>
</div>